        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-x: hidden;
            scroll-behavior: smooth;
        }

        .image-container {
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
        }

        .full-screen {
            position: relative;
            width: 90vw;
            max-width: 600px;
            border-radius: 2em;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 5px solid transparent;
        }

        .full-screen img {
            width: 100%;
            height: auto;
            max-height: 90vh;
            object-fit: contain;
            border-radius: inherit;
        }

        .full-screen::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background: linear-gradient(45deg, #08f, #f03, #08f);
            background-size: 300% 300%;
            border-radius: inherit;
            z-index: -1;
            animation: animatedBorder 3s linear infinite;
        }

    
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 20px;
            transform: translateY(100vh);
        }

        .title-button {
            margin-top: 20px;
            padding: 10px 20px;
            color: gold;
            font-size: 16px;
            text-align: center;
            border: 2px solid transparent;
            border-radius: 10px;
            cursor: pointer;
            background: linear-gradient(45deg, rgba(255,215,0,0.8), rgba(255,165,0,0.8));
            transition: 0.3s;
        }

        .title-button:hover {
            background: linear-gradient(45deg, rgba(255,165,0,0.8), rgba(255,215,0,0.8));
        }

        #mapid {
            margin-top: 20px;
            height: 60vh;
            width: 90vw;
            border-radius: 10px;
        }
